.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    align-items: center;

}

.cart-img {
    width: 30%;
}


.cart-details {
   display: block;
}

@media (orientation:landscape),
(min-width:766px) {
    .cart-img {
        display: flex;
    }

    .cart-details {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

}

.cart-img h2 {
    font-size: 15px;
    margin-top: 3px;
    text-align: center;
    color: tomato;
}

.count-card {
    display: flex;

    p {
        color: rgb(235, 142, 12);
        margin-top: 3px;
        font-size: 20px;
        font-weight: 600;
    }

    button {
        height: 30px;
        display: grid;
        font-size: 20px;
        font-weight: 600;
    }
}

.rupee {
    color: #294109;
    font-weight: 600;
    font-size: 14px;
}